body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f8;
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #810e0e;
    color: white;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #ecf0f1;
}

.username {
    font-size: 1.8em;
}

.tab-container {
    display: flex;
    justify-content: center; /* Center the tabs horizontally */
    margin-top: 20px;
    padding-left: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #810e0e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.tab-button:hover, .tab-button:focus {
    background-color: #c0392b;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-image {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.settings-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.settings-menu li {
    margin-bottom: 10px;
}

.settings-option {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    color: #810e0e;
    background-color: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
}

.settings-option:hover {
    background-color: #ddd;
}
/* Arrow icon style */
.arrow-icon {
    float: right;
    font-size: 1.2em;
}

/* Hidden menu for password fields */
.hidden {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#password-menu label {
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
    color: #333;
}

#password-menu input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-button {
    margin-top: 10px;
    padding: 8px 16px;
    color: white;
    background-color: #810e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #a30e0e;
}
